body li, body ol, body ul {
    list-style: none;
}
body a {
    text-decoration: none;
}
.header {
    position: relative;
    top: 0;
    z-index: 9998;
    background-color: #fff;
    width: 100%;
    height: 48px;
    text-align: center;
}
.header-wrapper{
    position: relative;
    border-bottom: gainsboro;
    padding: 0;
    height: 56px;
    text-align: left;
}
.header-container{
    margin: 0 auto;
    padding: 0 80px;
    max-width: 1440px;
    height: 58px;
}
.logo{
    display: inline-block;
    top: 0;
    left: 16px;
    margin: 0;
    line-height: 22px;
    font-size: 32px;
}
.home-catagory{
    display: inline-block;
    position: static;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: space-between;
    z-index: 1;
    margin-left: 24px;
    padding: 0;
    width: auto;
    list-style: none;
    vertical-align: top;
}
.menu-1, .menu-2, .menu-3{
    display: inline-block;
    text-decoration: none;
    color: black;
}
.menu-1-link, .menu-2-link, .menu-3-link{
    line-height: 30px;
    letter-spacing: -.6px;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    position: relative;
    transition: .2s;
    cursor: pointer;
    padding: 14px 16px;
    text-align: center;
    color: #212529;
}
.header-util {
    position: absolute;
    top: 0;
    right: 0;
    vertical-align: top;
}
.login-button, .register-button {
    display: inline-block;
    cursor: pointer;
    padding: 0 8px;
    text-align: center;
    line-height: 40px;
    color: #60656a;
    font-size: 15px;
    box-sizing: border-box;
}
.main-picture {
    width: 100%;
    height: 250px;
    background-image: url("/img/mainbanner.jpg");
}