<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/loginMember.css?2">
</head>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        var formObj = $("#member");

        $("#btnRegister").on("click", function() {
            formObj.attr("action", "login");
            formObj.attr("method", "post");
            formObj.submit();
        });
    });
</script>

<body>
<form id="member" action="login.html" th:object="${member}" method="post">
    <div id="page-container">
    <div class="logo">
        <h1>
            <span>
            <a href="/"><img src="/img/logo.png/" width="200" height="70"></a>
          </span>
        </h1>
        <h1>로그인</h1>
    </div>
    <table>
        <tr>
            <td class="m">이메일</td>
        </tr>
        <tr>
            <td><input type="email" class="login-box" name="email" placeholder=" 이메일 아이디"
                       style="width:390px;height:40px;font-size:15px;"
                       th:field="*{email}"></td>
        </tr>
        <tr>
            <td class="m">비밀번호</td>
        </tr>
        <tr>
            <td><input type="password" class="login-box" name="password" placeholder=" 비밀번호"
                       style="width:390px;height:40px;font-size:15px;"
                       th:field="*{password}"></td>
        </tr>
    </table>
    <div class="button-login">
    <button class="foot" type="submit" id="btnRegister">로그인</button>
    </div>
    </div>
</form>
</body>
</html>